{% extends 'base.html'  %}

{% block content %}

<div class="container">

    <br>
    <h2>Change Password</h2><hr><br><br>

        <div class="form-group">

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <br>

                <button class="btn btn-primary" type="submit" value="submit">Change Password</button>
	        <button class="btn btn-primary"> <a href="{% url 'home' %}">Home</a></button>


            </form>

        </div>

    <br/>

</div>
<br><br>

{% endblock  %}
