{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'members/css/profile.css' %}">


  <div class="wrapper">
    <div class="profile-card">
      <div class="profile-header">
        <img id="banner" src="{{post.background_banner.url}}" alt="">
      </div>

      <div class="profile-body {% if post.background_color %}{{ post.background_color }}{% endif %}">
        <div class="author-img">
          <img src="{{post.profile_picture.url}}" alt="">
        </div>

        <div class="name">{{post.full_name}}</div>
        <h6>{{post.business}}</h6>
        <span>{{post.job_title}}</span><br>
        <span>Phone: {{post.phone_number}}</span><br>
        <span>Email: {{post.email_address}}</span><br>
        <span>Website: {{post.website}}</span><br>

        <div class="intro">
          <p>{{post.full_name}} is an enthusiastic and passionate storyteller. He loves to do different home-made things and share them with the world.</p><br>

          <button class="msg-btn"><a href="?download_vcard=True">Add Contact</a></button>
          <button class="follow-btn"><a href="{% url 'edit' post.pk %}">Edit</a></button>
                   
          <br><br>
          <a href="{% url 'home' %}">www.tapncard.com</a>
        </div>
      </div>
    </div>
  </div>  
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  

    

        
        <!--Profile Dashboard-->


<div class="container">
    <div class="row">
        <div class="col-xl-5">
            <div class="card">
                <div class="card-body">
                    <div class="dropdown float-end">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Delete</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Block</a>
                        </div>
                    </div>
                    <div class="d-flex align-items-start">
                        <img src="{{post.profile_picture.url}}" class="rounded-circle avatar-lg img-thumbnail" alt="profile-image" style="width: 70px; height: 60px;">
                        <div class="w-100 ms-3">
                            <h4 class="my-0">Social Media Hub</h4>
                            <p class="text-muted">{{post.username}}</p>
                            <button type="button" class="btn btn-soft-primary btn-xs waves-effect mb-2 waves-light">Follow</button>
                            <button type="button" class="btn btn-soft-success btn-xs waves-effect mb-2 waves-light">Message</button>
                        </div>
                    </div>

                    <div class="mt-3">
                        <h4 class="font-13 text-uppercase">About Me :</h4>
                        <p class="text-muted font-13 mb-3">
                            Hi I'm Johnathn Deo,has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
                        </p>
                        <p class="text-muted mb-2 font-13"><strong>Full Name :</strong> <span class="ms-2">{{post.full_name}}</span></p>
                    
                        <p class="text-muted mb-2 font-13"><strong>Mobile :</strong><span class="ms-2">{{post.phone_number}}</span></p>
                    
                        <p class="text-muted mb-2 font-13"><strong>Email :</strong> <span class="ms-2">{{post.email_address}}</span></p>
                    
                        <p class="text-muted mb-1 font-13"><strong>Location :</strong> <span class="ms-2">USA</span></p>
                    </div>                                    

                    <ul class="social-list list-inline mt-3 mb-0">

                        <li class="list-inline-item">
                            <a href="{{post.facebook}}" class="social-list-item text-center border-primary text-primary"><i class="mdi mdi-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{post.instagram}}" class="social-list-item text-center border-danger text-danger"><i class="mdi mdi-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{post.twitter}}" class="social-list-item text-center border-info text-info"><i class="mdi mdi-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{post.linkedin}}" class="social-list-item text-center border-secondary text-secondary"><i class="mdi mdi-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{post.apple_music}}" class="social-list-item text-center border-primary text-primary"><i class="mdi mdi-apple"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{post.discord}}" class="social-list-item text-center border-danger text-danger"><i class="mdi mdi-discord"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{post.spotify}}" class="social-list-item text-center border-info text-info"><i class="mdi mdi-spotify"></i></a>
                        </li><br><br>
                        <li class="list-inline-item">
                            <a href="{{post.sound_cloud}}" class="social-list-item text-center border-secondary text-secondary"><i class="mdi mdi-soundcloud"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{post.twitch}}" class="social-list-item text-center border-secondary text-secondary"><i class="mdi mdi-twitch"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{post.snap}}" class="social-list-item text-center border-secondary text-secondary"><i class="mdi mdi-snapchat"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{post.twitch}}" class="social-list-item text-center border-secondary text-secondary"><i class="mdi mdi-twitch"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{post.paypal}}" class="social-list-item text-center border-secondary text-secondary"><i class="mdi mdi-web"></i>p</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{post.tiktok}}" class="social-list-item text-center border-secondary text-secondary"><i class="mdi mdi-web"></i>t</a>
                        </li>
                        
                        
                    </ul>   
                </div>                                 
            </div> <!-- end card -->

            <div class="card">
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col-4 border-end border-light">
                            <h5 class="text-muted mt-1 mb-2 fw-normal">Applied</h5>
                            <h2 class="mb-0 fw-bold">116</h2>
                        </div>
                        <div class="col-4 border-end border-light">
                            <h5 class="text-muted mt-1 mb-2 fw-normal">Reviewed</h5>
                            <h2 class="mb-0 fw-bold">87</h2>
                        </div>
                        <div class="col-4">
                            <h5 class="text-muted mt-1 mb-2 fw-normal">Contacted</h5>
                            <h2 class="mb-0 fw-bold">98</h2>
                        </div>
                    </div>
                </div>
            </div>

           

        </div> <!-- end col -->
    </div>
    <!-- end row-->

</div>
        <!--End Profile Dashboard-->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div id="qr">
    <small>Profile QR Code</small><br><br>
    <img src="{% url 'profile' post.pk %}?download_qrcode" alt="Profile QR Code">

    </div> 
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!-- style -->
  
  <style>

:root{
  --light:#f1f1f1;
  --white:#fff;
  --dark:#000;
}
body{
  font-family: 'Montserrat', sans-serif; 
  background-color: var(--light);
  padding: 0;
  margin: 0;
}
img{
  width: 100%;
  height: auto;
}
#banner{
  width: 100%;
  height: 300px;
}
.wrapper{
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
 
}
.profile-card{
  width: 22.50em;
  height: auto;
  text-align: center;
  margin: 0px auto;
  box-shadow:  0px 0px 18px #ccc;
  
}

.profile-card .profile-header{
  height: 180px;
}
.profile-card .profile-body{
  background-color: var(--white);
  padding: 10px 40px 40px 40px;
 
}
.profile-card .profile-body.--light {
  background-color: var(--light);
}

.profile-card .profile-body.--white {
  background-color: var(--white);
}

.profile-card .profile-body.--dark {
  background-color: var(--dark);
}

.profile-card .profile-body.--purple {
  background-color: var(--purple);
}
.profile-card .profile-body .author-img{
  margin-top: -22px;
  margin-bottom: 0px;
}
.profile-card .profile-body .author-img img{
  width: 170px;
  height: 170px;
  border-radius: 50%; 
  padding: 5px;
  background-color: var(--white);
}
.profile-card .profile-body .name{
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;

}
.profile-card .profile-body .intro{
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
  margin: 20px  0px 30px  0px;

}
.social-section {
  background-color: #f2f2f2;
  text-align: center;
  align-items: center;
  padding: 20px 0;
 
}
button{
    margin: 0px 0 0px 0;
  }
  .msg-btn, .follow-btn{
    background: #f1f1f1;
    border: 2px solid #878787;
    padding: 14px 36px;
    color: #878787;
    border-radius: 4px;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
  }
  .follow-btn{
    margin-left: 10px;
    background: transparent;
    color: #878787;
  }
  .follow-btn:hover{
    color: #231e39;
    background: #878787;
    transition: .5s;
  }

  .container i:hover{
    color: #03bfbc;
  }
  

.social-section {
    background-color: #f2f2f2;
    text-align: center;
    align-items: center;
    padding: 20px 0;
   
  }

  
  .social-icons {
    display: flex;
    flex-wrap: wrap;
    max-width: 27em;
    justify-content: center;
    background-color: #fff;
    box-shadow:  0px 0px 18px #ccc;
   
  }

  .social-icon {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    
  }
  
  .social-icon:hover {
    size: 80px;
  }

.social-list-item {
    height: 2rem;
    width: 2rem;
    line-height: calc(2rem - 2px);
    display: block;
    border: 2px solid #adb5bd;
    border-radius: 50%;
    color: #adb5bd;
}
.social-icon ul {
    list-style-type: none;
}
 .social-icon ul li {
    display: inline-block;
}
 .social-icon ul li a {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  border:1px solid #ddd;
  display: block;
  border-radius: 50%;
  transition: all 0.5s ease-out;
 }
 .social-icon ul{
  margin:0;
   padding:0;
}
 .social-icon ul li a:hover {
  background-color: var(--dark);
  border:1px solid var(--dark);
 }
  .social-icon ul li a i{
   line-height: 35px;
   color:#666;
  }
  .social-icon ul li a i:hover,
    .social-icon ul li a:hover i{
 
   color:var(--white);
  }
  







#qr{
  
  height: 100px;
  width: 100px;
  margin: auto;
  text-align: center;

}



 
  </style>

  


  


  {% endblock  %}

   <br>
   <br>
   <br>
   <br>
   <br>
  