{% extends 'base.html'  %}

{% include "navbar.html"%}

{% load static %}



{% block content %}


<!--Feature-->


<section id="header" class="jumbotron text-center">
    <br><br>
    <h3 class="display-3">Welcome</h3>

    {% if user.is_authenticated %}
        {% if user.pk %}     
          <p class="lead">{{ user.post.username }}</p>
          <p class="lead">{{ user.post.business }}</p>
        {% endif %}
    {% else %}
        <p class="lead">Smart Technology Solutions</p>
        
    {% endif %}
       
    
</section>
<br><br>
 
<section id="gallery">
 <div class="container">
   <div class="row">
   <div class="col-lg-4 mb-4">
   <div class="card">
     <img src="{% static 'main/images/Tap N Card Demo Ad White Male(2).png'%} " alt="" class="card-img-top">
     <div class="card-body">
       <h5 class="card-title">Smart Contact Technology</h5>
       <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
      <br>
       <a href="" class="btn btn-outline-secondary">Read More</a>
      
     </div>
    </div>
   </div>
 <div class="col-lg-4 mb-4">
 <div class="card">
     <img src="{% static 'main/images/top_img3.png'%} " alt="" class="card-img-top">
     <div class="card-body">
       <h5 class="card-title">Free Online Profile</h5>
       <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
       <br>
       <a href="" class="btn btn-outline-secondary">Read More</a>
       <!--<a href="" class="btn btn-outline-danger btn-sm"><i class="fa fa-heart"></i></a>-->
     </div>
     </div>
   </div>
   <div class="col-lg-4 mb-4">
   <div class="card">
     <img src="{% static 'main/images/TapN Double Card.png'%} " alt="" class="card-img-top">
     <div class="card-body">
       <h5 class="card-title">Stylish Designs</h5>
       <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
       <br>
       <a href="" class="btn btn-outline-secondary">Read More</a>
       <!--<a href="" class="btn btn-outline-danger btn-sm"><i class="fa fa-heart"></i></a>-->
     </div>
    </div>
    
   </div>
   
 </div>
 <br><br>
 <!---->

      <!-- Profile Card -->
       
  <div class="container-fluid">

  <h1>Post</h1>
  <hr/>
    
    
  {% for post in posts %}
        
        <div class="container-sm" style="max-width: 540px; max-height: 100%vh;">
          <a href="{% url 'profile' post.pk %}" style="text-decoration: none;"><h3 class="font-weight-bold mb-2">{{post.username}}</h3></a>
        <p class="font-italic text-muted mb-4">{{ post.about }}</p>                     
        <div class="card "><a href="{% url 'profile' post.pk %}"><img src="{{ post.profile_picture.url }}" alt="" class="w-100 card-img-top"></a>
          <div class="p-4">                                            
            <h5 class="mb-0">{{post.business}}</h5>
            <p class="small text-muted">{{post.job_title}}</p>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item m-0"><a href="{{ post.facebook }}" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item m-0"><a href="{{ post.twitter }}" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item m-0"><a href="{{ post.instagram }}" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item m-0"><a href="{{ post.linkedin }}" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br><br><hr> 

    {% endfor %}

  <!--End Profile Card-->
     
 
  {% endblock  %}


 <!---->
</div>
</section>



<br><br><br>







    