{% extends 'base.html'  %}

{% block content %}

<div class="container">
    <br>
    <h1>Privacy Policy</h1>
    <hr><br><br>

        <div class="container">

           <p>At TapNCard.com, we are committed to protecting the privacy and security of our users' personal information. This privacy policy outlines the types of information we collect, how we use it, and how we protect it.

Information We Collect:

We collect personal information such as your name, email address, phone number, and mailing address when you sign up for our Smart Business Card or Pet Tag Service. When you create a profile, we may also collect additional information such as your job title, company name, and social media links. When you use our service, we may also collect information about your location and device type.

How We Use Your Information:

We use your personal information to create and manage your account, to provide customer support, and to communicate with you about our products and services. We may also use your information for marketing purposes, such as sending you promotional emails or offers. However, we do not sell your personal data to any third party.

COPA Act:

We comply with the Children's Online Privacy Protection Act (COPPA) and do not knowingly collect personal information from children under the age of 18. Our services are intended for use by individuals who are 18 years of age or older.

How We Protect Your Information:

We take the security of your personal information seriously and have implemented measures to protect it from unauthorized access, use, or disclosure. We use industry-standard encryption technologies to protect your data in transit and at rest. We also limit access to your information to only those employees or contractors who need it to perform their job functions.

Your Choices:

You can choose to opt-out of receiving promotional emails from us at any time by clicking the unsubscribe link at the bottom of the email. You can also delete your account at any time by contacting our customer support team.

Changes to this Policy:

We reserve the right to update this privacy policy at any time. If we make significant changes to the policy, we will notify you by email or by posting a notice on our website.

Contact Us:

If you have any questions or concerns about our privacy policy or COPPA compliance, please contact us at tapncard@gmail.com </p>

        </div>    


</div>

<br/>

<br><br>


{% endblock  %}
