{% extends 'base.html'  %}

{% block content %}

<div class="container">
    <br>
    <h1>You Searched For...</h1>
    <hr><br><br>

        <div class="container">

            {% if searched %}

            <h3>You Searched For {{ searched }}</h3>

            <br/>

            {% for post in profile %}
            
            <a href="{% url 'profile' post.pk %}">{{ post.username }}</a><br/>


            {% endfor %}

            {% else %}

            <h3>You Forgot To Enter A Search Request</h3>

            {% endif %}
           

        </div>    


</div>

<br/>

<br><br>


{% endblock  %}