{% extends 'base.html'  %}

{% block content %}

<div class="container">
    <br>
    <h1>Terms & Conditions</h1>
    <hr><br><br>

        <div class="container">

          <p> Welcome to TapNcard.com our smart business card and smart pet tag service. By using our service, you agree to the following terms and conditions:

1. Liability: We are not liable for any damages or losses resulting from the use of our smart business cards and smart pet tags. You assume all risks associated with the use of our service. We are not responsible for any errors or omissions that may occur during the use of our service.

2. Use of Information: By using our service, you agree to allow us to use your information in perpetuity throughout the universe. We may use your information for marketing purposes or to improve our service. We will not share your information with third parties without your consent.

3. Intellectual Property: Our service and all associated content, including but not limited to logos, trademarks, and designs, are the property of the tapping company. You may not use our content without our permission.

4. Termination: We reserve the right to terminate your use of our service at any time without notice. We may also modify or discontinue our service without notice.

5. Governing Law: These terms and conditions shall be governed by and construed in accordance with the laws of the jurisdiction in which the tapping company is located.

By using our smart business card and smart pet tag service, you acknowledge that you have read and agreed to these terms and conditions. If you do not agree to these terms and conditions, you may not use our service.</p>

        </div>    


</div>

<br/>

<br><br>


{% endblock  %}
