:root{
    --light:#f1f1f1;
    --white:#fff;
    --dark:#000;
    --purple:#5e496a;
  }
  body{
      font-family: 'Montserrat', sans-serif; 
        background-color: var(--light);
  }
  img{
      width: 100%;
      height: auto;
  }
  .wrapper{
      width: 100%;
      height: 100vh;
     
  }
  .profile-card{
      width: 27em;
      height: auto;
      text-align: center;
      margin: 20px auto;
      box-shadow:  0px 0px 18px #ccc;
      
  }
  .profile-card .background_banner{
      height: 180px;
      border-radius: 20px;
      
  }
  
  .profile-card .profile-body{
      background-color: var(--white);
      padding: 20px 40px 40px 40px;
     
  }
  
  .profile-card .profile-body .author-img{
      margin-top: -20px;
      margin-bottom: 20px;
  }
  .profile-card .profile-body .author-img img{
      width: 170px;
      height: 170px;
      border-radius: 50%; 
      padding: 5px;
      background-color: var(--white);
  }
  
  .profile-card .profile-body .name{
     font-size: 20px;
     font-weight: 600;
     text-transform: uppercase;
  
  }
  .profile-card .profile-body .intro{
     font-size: 14px;
     font-weight: 400;
     line-height: 1.6;
     margin: 20px  0px 30px  0px;
  
  }
   .social-icon ul {
      list-style-type: none;
  }
   .social-icon ul li {
      display: inline-block;
  }
   .social-icon ul li a {
    margin-right: 5px;
    width: 50px;
    height: 50px;
    border:1px solid #ddd;
    display: block;
    border-radius: 50%;
    transition: all 0.5s ease-out;
   }
   .social-icon ul{
    margin:0;
     padding:0;
  }
   .social-icon ul li a:hover {
    background-color: var(--dark);
    border:1px solid var(--dark);
   }
    .social-icon ul li a i{
     line-height: 50px;
     color:#666;
    }
    .social-icon ul li a i:hover,
      .social-icon ul li a:hover i{
   
     color:var(--white);
    }

    button{
        margin: 10px 0 40px 0;
      }
      .msg-btn, .follow-btn{
        background: #1a1919;
        border: 2px solid #878787;
        padding: 14px 36px;
        color: white;
        border-radius: 4px;
        font-family: Montserrat, sans-serif;
        cursor: pointer;
      }
      .follow-btn{
        margin-left: 10px;
        background: transparent;
        color: white;
      }
      .follow-btn:hover{
        color: #231e39;
        background: #03bfbc;
        transition: .5s;
      }

 


      #container{
        padding-top:30px;
        min-height:100%;
        text-align:center;
        background: linear-gradient(0deg, rgba(34,195,104,1) 0%, rgba(45,77,253,1) 100%);
      }
      
      .headline{
        text-align:center;
       
      }
      .headline  h1{
          font-size:35px;
          font-family: 'Montserrat', sans-serif;
          color:#fff;
        }
      
      .social-buttons{
        display:inline-block;
        background: rgba(256,256,256,0.5);
        padding:20px;
        padding-bottom: 5px;
        border-radius:10px;
        text-align:center;
        margin:20px 10px;
        box-shadow: 0px 0px 32px -7px #00199f;
      }
        
      /* Helper class to divide the icons */
      .social-margin {
        margin-right: 15px;
      }
      
      a,
      a:hover,
      a:focus,
      a:active {
        text-decoration: none;
      }
      
      .social-icon {
        margin-bottom: 15px;
         box-sizing: border-box;
        -moz-border-radius: 138px;
        -webkit-border-radius: 138px;
        border-radius: 138px;
        border: 5px solid;
        text-align: center;
        width: 50px;
        height: 50px;
        display: inline-block;
        line-height: 1px;
        padding-top: 11px;
        transition: all 0.5s;
      }
      .social-icon:hover {
          transform: rotate(360deg)scale(1.3);
        }
        /* Facebook Button Styling */
       .facebook {
          font-size: 22px;
          padding-top: 9px;
          border-color: #3b5998;
          background-color: #3b5998;
          color: #ffffff;
         
        }
        .facebook:hover {
          background-color: #ffffff;
          color: #3b5998;
        }
        /* Twitter Button Styling */
      .twitter {
          font-size: 22px;
          padding-top: 10px;
          padding-left: 2px;
          border-color: #55acee;
          background-color: #55acee;
          color: #ffffff;
          
        }
        .twitter:hover {
          background-color: #ffffff;
          color: #55acee;
        }
        /* Google+ Button Styling */
        .google-plus {
          font-size: 22px;
          padding-top: 9px;
          padding-left: 2px;
          background-color: #dd4b39;
          color: #ffffff;
          border-color: #dd4b39;
          
        }
        .google-plus :hover {
          background-color: #ffffff;
          color: #dd4b39;
        }
        /* Linkedin Button Styling */
        .linkedin {
          font-size: 24px;
          padding-top: 8px;
          padding-left: 1px;
          background-color: #0976b4;
          color: #ffffff;
          border-color: #0976b4;
          
        }
        .linkedin :hover {
          background-color: #ffffff;
          color: #0976b4;
        }
        /* Pinterest Button Styling */
      .pinterest {
          font-size: 22px;
          padding-top: 9px;
          background-color:  #cb2027;
          color: #ffffff;
          border-color:  #cb2027;
          
        }
        .pinterest:hover {
          background-color: #ffffff;
          color:  #cb2027;
        }
        /* Behance Button Styling */
        .behance {
          font-size: 22px;
          padding-top: 9px;
          background-color: #1769ff;
          color: #ffffff;
          border-color: #1769ff;
          
        }
        .behance :hover {
          background-color: #ffffff;
          color: #1769ff;
        }
      
        /* Github Button Styling */
       .github {
          font-size: 22px;
          padding-top: 9px;
          background-color: #4183c4;
          color: #ffffff;
          border-color: #4183c4;
          
        }
        .github:hover {
          background-color: #ffffff;
          color: #4183c4;
        }
        /* Youtube Button Styling */
       .youtube {
          font-size: 22px;
          padding-top: 9px;
          padding-left: 0px;
          background-color: #bb0000;
          color: #ffffff;
          border-color: #bb0000;
          
        }
        .youtube  :hover {
          background-color: #ffffff;
          color: #bb0000;
        }
        /* Soundcloud Button Styling */
        .soundcloud {
          font-size: 22px;
          padding-top: 9px;
          padding-left: 0px;
          background-color: #ff3a00;
          color: #ffffff;
          border-color: #ff3a00;
          
        }
        .soundcloud :hover {
          background-color: #ffffff;
          color: #ff3a00;
        }
      

      .profile-qr{

        height: 100px;
        width: 100px;

      }