{% extends 'base.html'  %}

{% block content %}


<div class="jumbotron feature">
    <div class="container">
        <h1><span class="glyphicon glyphicon-equalizer"></span> Smart Technology</h1>
        <p>Objectively innovate empowered manufactured products whereas parallel platforms.</p>
        <p><a class="btn btn-default" href="#">Shop Now</a></p>
    </div>
</div>

<!-- Content -->
<div class="container">

    <!-- Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Modern Networking
                <small>Fast & Efficient</small>
            </h1>
            <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products.</p>
        </div>
    </div>
    <!-- /.row -->


    <!-- Feature Row -->
    <div class="row">
        <article class="col-md-4 article-intro">
            <a href="#">
                <img class="img-responsive img-rounded" src="../static/images/feature_img5.png" alt="">
            </a>
            <h3>
                <a href="#">Efficiently Unleash</a>
            </h3>
            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
        </article>
        <article class="col-md-4 article-intro">
            <a href="#">
                <img class="img-responsive img-rounded" src="../static/images/can2.png" alt="">
            </a>
            <h3>
                <a href="#">Completely Synergize</a>
            </h3>
            <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.</p>
        </article>

        <article class="col-md-4 article-intro">
            <a href="#">
                <img class="img-responsive img-rounded" src="../static/images/top_img3.png" alt="">
            </a>
            <h3>
                <a href="#">Online Profile Card</a>
            </h3>
            <p>Professionally cultivate one-to-one customer service with robust ideas. Completely synergize resource taxing relationships via premier niche markets. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
        </article>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<div class="container" style="margin-left: 25%;">

    <h1>Post</h1>
    
    {% for post in object_list %}
    
    <span>{{post.username}}</span><br><a href="{% url 'edit' post.pk %}">Edit</a><br/>
    
    <div class="card" style="width: 18rem;">
        {% if post.profile_picture %}
    
        <img src="{{post.profile_picture.url}}"  style="height: 200px; width: 200px;" class="img-responsive img-rounded" alt="...">
        
        {% else %}
      <img src="../static/images/Tap N Double Card.png" style="height: 300px; width: 250px;" class="card-img-top" alt="...">
        {% endif %}
    
        
        <div class="card-body">
          <h5 class="card-title">{{post.full_name}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{% url 'profile' post.pk %}" class="btn btn-primary">Tap N Profile</a>
        </div>
    </div>
    
    <hr><br/>
    
    {% endfor %}
    
    </div>
    
    </div>
    <!-- /.container -->
    

    {% endblock  %}