
{% load static %}
 

       <!-- Navigation -->
    
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">

        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'main/images/TapN Blue & White(1).png' %}" style="height: fit-content;" width="fit-content"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            {% if user.is_authenticated %}

                {% if user.post.pk %}

                <img src="{{ user.post.profile_picture.url }}" class="rounded-circle avatar-lg img-thumbnail" alt="profile-image" style="width: 50px; height: 40px;">     
          
                {% else %}
                <!--Default User Image-->
                <img src="{% static 'main/images/defautlProfile2.png' %}" class="rounded-circle avatar-lg img-thumbnail" alt="profile-image" style="width: 50px; height: 40px;">     


                
                {% endif %}

          {% endif %}
            
            

            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>

                <li class="nav-item">
                  
                  <a class="nav-link" href="#">Shop</a>

                </li>  

              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Sign in</a>
              </li>
              {% if user.is_authenticated %}

                    {% if post.pk %}
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Members
                          </a>
                          <ul class="dropdown-menu">

                            <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>

                            <li><hr class="dropdown-divider"></li>

                                       
                            {% if user.post.pk %}

                            <li><a class="dropdown-item" href="{% url 'profile' user.post.pk %}">View Profile</a></li>

                            {% else %}

                            <li class="dropdown-item"><a class="nav-link" href="{% url 'create-profile' user.id %}">Create Profile</a></li> 

                            {% endif %}

                            <!--<li><hr class="dropdown-divider"></li>

                            <li class="dropdown-item"><a class="nav-link" href="{% url 'create-profile' user.id %}">Create Profile</a></li>-->              

                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'pets'  %}">Pet Profile</a></li>
                          </li>
                    {% else %}

                            <li><a class="dropdown-item" href="{% url 'login' %}">Sign in</a></li>
                            
                    {% endif %}
              {% endif %}
                      </ul>
                    </li>
                    
                  </ul>
            <form method="POST" action="{% url 'search' %}" class="d-flex" role="search">
              {% csrf_token %}
              <input name="searched" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            {% if user.is_authenticated %}

                {% if user.post.pk %}

                  <a href="{% url 'profile' user.post.pk %}"><span style="padding: 0px 10px 0px 10px;">{{ user.post.username}}</span><img src="{{ user.post.profile_picture.url }}" class="rounded-circle avatar-lg img-thumbnail" alt="profile-image" style="width: 50px; height: 40px; text-decoration: none;"></a>     
          
                {% else %}
                  <a href="{% url 'create-profile' user.pk %}">Create Profile</a><span style="padding: 0px 10px 0px 10px;">{{ user.post.username}}</span><img src="{% static 'main/images/defautlProfile2.png' %}" class="rounded-circle avatar-lg img-thumbnail" alt="profile-image" style="width: 50px; height: 40px;"></a>     
                {% endif %}

          {% endif %}
          </div>
        </div>
      </nav>
