{% extends 'base.html'  %}


{% block content %}

 
<div class="container">

<a href="{% url 'home' %}"><span>Back</span></a>
      

</div>

<div class="container">

<div class="wrapper">

      <div class="profile-card">

          <div class="background_banner">
            
              <img src="{{post.background_banner.url}}" alt="" style="height: 300px; width: 25em;">
          </div>

          <div class="profile-body">

                <div class="author-img">
                    <img src="{{post.profile_picture.url}}" alt="">
                </div>

                <div class="name">{{post.full_name}}</div>
                    <h5>{{post.business}}</h5>
                    <h5>{{post.job_title}}</h5>
                    <span>Phone: {{post.phone_number}}</span><br>
                    <span>Email: {{post.email_address}}</span><br>
                    <span>Website: {{post.website}}</span><br>
                                    
                <div class="intro">
                   <p>{{post.full_name}} is an enthsiastic and passionate story
                       Teller.He loves to do different
                        home-made things and share to the world.</p>

                   <button class="msg-btn"> <a href="?download_vcard=True">Add Contact</a></button>
                   <button class="follow-btn"><a href="{% url 'edit' post.pk %}">Edit</a></button>
                </div>
                    <a href="">www.tapncard.com</a>
                    <br><br>
                                        
            </div>

                            
        </div>

    </div>  
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


    

        
        <div class="social-section">
            <h4>Social Media Center</h4>
              <div class="social-icons">
                <br><br><br><br>
               
                <a href="{{ profile.facebook }}">
                  <img src="../static/images/icons8-facebook-48.png" alt="Facebook" class="social-icon">
                </a>
                <a href="{{ profile.instagram }}">
                  <img src="../static/images/icons8-instagram-48.png" alt="Instagram" class="social-icon">
                </a>
                <a href="{{ profile.tiktok }}">
                  <img src="../static/images/icons8-tiktok-48.png" alt="TikTok" class="social-icon">
                </a>
                <a href="{{ profile.twitter }}">
                  <img src="../static/images/icons8-twitter-48.png" alt="Twitter" class="social-icon">
                </a>
                <a href="{{ profile.linkedin }}">
                  <img src="../static/images/icons8-linkedin-48.png" alt="LinkedIn" class="social-icon">
                </a>
                <a href="{{ profile.paypal }}">
                  <img src="../static/images/icons8-paypal-48.png" alt="PayPal" class="social-icon">
                </a>
                <a href="{{ profile.cashapp }}">
                  <img src="../static/images/icons8-cashapp-instantly-send-money-between-friends-or-accept-card-payments-for-your-business-48.png" alt="CashApp" class="social-icon">
                </a>
                <a href="{{ profile.snap }}">
                  <img src="../static/images/icons8-snapchat-48.png" alt="Snap" class="social-icon">
                </a>
                <a href="{{ profile.discord }}">
                  <img src="../static/images/icons8-discord-48.png" alt="Discord" class="social-icon">
                </a>
                <a href="{{ profile.twitch }}">
                  <img src="../static/images/icons8-twitch-48.png" alt="Twitch" class="social-icon">
                </a>
                <a href="{{ profile.spotify }}">
                  <img src="../static/images/icons8-spotify-48.png" alt="Spotify" class="social-icon">
                </a>
                <a href="{{ profile.apple_music }}">
                  <img src="../static/images/icons8-music-48.png" alt="Apple Music" class="social-icon">
                </a>
                <a href="{{ profile.sound_cloud }}">
                  <img src="../static/images/icons8-youtube-48.png" alt="YouTube" class="social-icon">
                </a>
                <a href="{{ profile.sound_cloud }}">
                    <img src="../static/images/icons8-venmo-64.png" alt="Venmo" class="social-icon">
                  </a>
                  <a href="{{ profile.sound_cloud }}">
                    <img src="../static/images/icons8-soundcloud-48.png" alt="SoundCloud" class="social-icon">
                  </a>
                  <a href="{{ profile.sound_cloud }}">
                    <img src="../static/images/pngwing.com.png" alt="OnlyFans" class="social-icon">
                  </a>
                  <a href="{{ profile.sound_cloud }}">
                    <img src="../static/images/zelle-logo-3.png" alt="zelle" class="social-icon">
                  </a>
                  <a href="{{ profile.sound_cloud }}">
                    <img src="../static/images/pngwing.com.png" alt="OnlyFans" class="social-icon">
                  </a>
                  <a href="{{ profile.sound_cloud }}">
                    <img src="../static/images/icons8-pinterest-48.png" alt="icons8-pinterest-48" class="social-icon">
                  </a>
                  <a href="{{ profile.sound_cloud }}">
                    <img src="../static/images/icons8-patreon-48.png" alt="patreon" class="social-icon">
                  </a>
                  
                                    
              </div>
              
          </div>
          
                   
    
    
      </div>

      

    </div>
  <br>
  <br>
  <br>
  <div id="qr">
    <small>Profile QR Code</small><br><br>
    <img src="{% url 'profile' post.pk %}?download_qrcode" alt="Profile QR Code">

    </div> 
  <br>
  <br>
  <br>


  {% endblock  %}

   <br>
   <br>
   <br>
   <br>
   <br>
  