{% extends 'base.html'  %}


{% block content %}
 
<div class="container">

<a href="{% url 'home' %}"><span>Back</span></a>
      

</div>

<div class="container">

<div class="wrapper">

      <div class="profile-card">

          <div class="background_banner">
            
              <img src="{{post.background_banner.url}}" alt="" style="height: 300px; width: 27em;">
          </div>

          <div class="profile-body">

                <div class="author-img">
                    <img src="{{post.profile_picture.url}}" alt="">
                </div>

                <div class="name">{{post.full_name}}</div>
                    <h5>{{post.business}}</h5>
                    <h5>{{post.job_title}}</h5>
                    <span>Phone: {{post.phone_number}}</span><br>
                    <span>Email: {{post.email_address}}</span><br>
                    <span>Website: {{post.website}}</span><br>
                                    
                <div class="intro">
                   <p>{{post.full_name}} is an enthsiastic and passionate story
                       Teller.He loves to do different
                        home-made things and share to the world.</p>

                   <button class="msg-btn"> <a href="?download_vcard=True">Add Contact</a></button>
                   <button class="follow-btn"><a href="{% url 'edit' post.pk %}">Edit</a></button>
                </div>
                    <a href="">www.tapncard.com</a>
                                        
            </div>

                            
        </div>

    </div>  
  <br>
  <br>
  <br>
  <br>
  <br>

    <div class="profile-card">

        
            <div class="row">
            <br/>
            <h2>Social Media Suite</h2>
            <br>
            <div class="col-md-12">
        
               
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-dropbox"><i class="fa fa-dropbox"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-facebook"><i class="fa fa-facebook"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-flickr"><i class="fa fa-flickr"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-foursquare"><i class="fa fa-foursquare"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-github"><i class="fa fa-github-alt"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-instagram"><i class="fa fa-instagram"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-jsfiddle"><i class="fa fa-jsfiddle"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-lastfm"><i class="fa fa-lastfm"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-paypal"><i class="fa fa-paypal"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-pinterest"><i class="fa fa-pinterest"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-reddit"><i class="fa fa-reddit"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-skype"><i class="fa fa-skype"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-soundcloud"><i class="fa fa-soundcloud"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-stack-overflow"><i class="fa fa-stack-overflow"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-steam"><i class="fa fa-steam"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-stumbleupon"><i class="fa fa-stumbleupon"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-trello"><i class="fa fa-trello"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-tumblr"><i class="fa fa-tumblr"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-twitch"><i class="fa fa-twitch"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-vimeo"><i class="fa fa-vimeo-square"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-vine"><i class="fa fa-vine"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-vk"><i class="fa fa-vk"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-wechat"><i class="fa fa-wechat"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-wordpress"><i class="fa fa-wordpress"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-xing"><i class="fa fa-xing"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-yahoo"><i class="fa fa-yahoo"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-yelp"><i class="fa fa-yelp"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-youtube"><i class="fa fa-youtube"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-email"><i class="fa fa-envelope"></i></a>
            </div>
        
        
        </div>
          <br>
                    <a href="#">www.tapncard.com</a>
                    <br><br>
    </div>
    
      </div>
    </div>
  <br>
  <br>
  <br>
  <div id="qr">
    <small>Profile QR Code</small><br><br>
    <img src="{% url 'profile' post.pk %}?download_qrcode" alt="Profile QR Code">

    </div> 
  <br>
  <br>
  <br>


  {% endblock  %}

   <br>
   <br>
   <br>
  