{% extends 'base.html'  %}


{% block content %}
 
<div class="container">

<a href="{% url 'home' %}"><span>Back</span></a>
      

</div>

<div class="container">

<div class="wrapper">

      <div class="profile-card">

          <div class="background_banner">
            
              <img src="{{post.background_banner.url}}" alt="" style="height: 300px; width: 25.75em;">
          </div>

          <div class="profile-body">

                <div class="author-img">
                    <img src="{{post.profile_picture.url}}" alt="">
                </div>

                <div class="name">{{post.full_name}}</div>
                    <h5>{{post.business}}</h5>
                    <h5>{{post.job_title}}</h5>
                    <span>Phone: {{post.phone_number}}</span><br>
                    <span>Email: {{post.email_address}}</span><br>
                    <span>Website: {{post.website}}</span><br>
                                    
                <div class="intro">
                   <p>{{post.full_name}} is an enthsiastic and passionate story
                       Teller.He loves to do different
                        home-made things and share to the world.</p>

                   <button class="msg-btn"> <a href="?download_vcard=True">Add Contact</a></button>
                   <button class="follow-btn"><a href="{% url 'edit' post.pk %}">Edit</a></button>
                </div>

                <div class="social-icon">
                  <ul>
                      <li>
                          <a href="#">
                              <i class="fa fa-facebook-f"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fa fa-twitter"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fa fa-instagram"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fa fa-linkedin-square"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fa fa-apple"></i>
                          </a>
                      </li>
                  </ul>
                 
                  <br>
                  <a href="">www.tapncard.com</a>
                  <br>
  
              </div>
                          
          </div>
          
      </div>


  </div>

</div>  
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="profile-card">
    <img src="{% url 'profile' post.pk %}?download_qrcode" alt="Profile QR Code">

</div> 
  {% endblock  %}

   <br>
   <br>
  